<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pagos</title>
</head>
<body>

<h1>Pagos registrados</h1>

<a href="{% url 'crear_pago' %}">Registrar nuevo pago</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Método de pago</th>
    </tr>

    {% for pago in pagos %}
    <tr>
        <td>{{ pago.id }}</td>
        <td>S/ {{ pago.monto }}</td>
        <td>{{ pago.fecha }}</td>
        <td>{{ pago.metodo_pago }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No hay pagos registrados.</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>