{% extends 'gimnasio/base.html' %}

{% block title %}Entrenadores - Gimnasio{% endblock %}

{% block content %}
    <h1>Entrenadores registrados</h1>

    <a href="{% url 'crear_entrenador' %}">Registrar nuevo entrenador</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Especialidad</th>
        </tr>

        {% for entrenador in entrenadores %}
        <tr>
            <td>{{ entrenador.id }}</td>
            <td>{{ entrenador.nombre }}</td>
            <td>{{ entrenador.especialidad }}</td>
        </tr>
        {% empty %}
            {% include 'gimnasio/mensaje_vacio.html' %}
        {% endfor %}
    </table>
{% endblock %}