{% extends 'gimnasio/base.html' %}

{% block title %}Inscripciones - Gimnasio{% endblock %}

{% block content %}
    <h1>Inscripciones registradas</h1>

    <a href="{% url 'crear_inscripcion' %}">Registrar nueva inscripción</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Clase</th>
            <th>Fecha de inscripción</th>
        </tr>

        {% for inscripcion in inscripciones %}
        <tr>
            <td>{{ inscripcion.id }}</td>
            <td>{{ inscripcion.cliente.nombre }}</td>
            <td>{{ inscripcion.clase.nombre }}</td>
            <td>{{ inscripcion.fecha }}</td>
        </tr>
        {% empty %}
            <!-- EXTRAÍDO Y REUTILIZADO CON INCLUDE -->
            {% include 'gimnasio/mensaje_vacio.html' %}
        {% endfor %}
    </table>
{% endblock %}