{% extends 'gimnasio/base.html' %}

{% block title %}Clientes - Gimnasio{% endblock %}

{% block content %}
    <h1>Clientes registrados</h1>

    <a href="{% url 'crear_cliente' %}">Registrar nuevo cliente</a>

    {# COMENTARIO DE DOCUMENTACIÓN: Se aplica el filtro 'upper' al nombre para estandarizar la vista en mayúsculas sin alterar la base de datos #}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre (Mayúsculas)</th>
            <th>Email</th>
            <th>Teléfono</th>
        </tr>

        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre|upper }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefono }}</td>
        </tr>
        {% empty %}
            <!-- AQUI REUTILIZAMOS EL COMPONENTE CON INCLUDE -->
            {% include 'gimnasio/mensaje_vacio.html' %}
        {% endfor %}
    </table>
{% endblock %}