{% extends 'gimnasio/base.html' %}

{% block title %}Membresías - Gimnasio{% endblock %}

{% block content %}
    <h1>Membresías registradas</h1>

    <a href="{% url 'crear_membresia' %}">Registrar nueva membresía</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
        </tr>

        {% for membresia in membresias %}
        <tr>
            <td>{{ membresia.id }}</td>
            <td>{{ membresia.tipo }}</td>
            <td>S/ {{ membresia.precio }}</td>
            <td>{{ membresia.fecha_inicio }}</td>
            <td>{{ membresia.fecha_fin }}</td>
        </tr>
        {% empty %}
            {% include 'gimnasio/mensaje_vacio.html' %}
        {% endfor %}
    </table>
{% endblock %}