{% extends 'gimnasio/base.html' %}

{% block title %}Pagos - Gimnasio{% endblock %}

{% block content %}
    <h1>Pagos registrados</h1>

    <a href="{% url 'crear_pago' %}">Registrar nuevo pago</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Monto</th>
            <th>Fecha de pago</th>
        </tr>

        {% for pago in pagos %}
        <tr>
            <td>{{ pago.id }}</td>
            <td>{{ pago.cliente.nombre }}</td>
            <td>S/ {{ pago.monto }}</td>
            <td>{{ pago.fecha_pago }}</td>
        </tr>
        {% empty %}
            {% include 'gimnasio/mensaje_vacio.html' %}
        {% endfor %}
    </table>
{% endblock %}